ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    justify-content: end;
    gap: 30px;
    font-size: 30px;
    font-weight: 600;
    margin: 50px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 100px 200px;
    font-size: 150%;
}

.bt{
    color: white;
    background-color: orangered;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    padding: 20px;
} 

.image {
    border-radius: 50%;
    box-sizing: border-box;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 400px;
}

@media (max-width: 460px) {
    .menu {
        display: flex;
        justify-content: space-around;
        margin: 25px;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 15px;
    } 

    
}